<div>
  <h1>
    Project Manager
  </h1>
</div>

<div>
  <form>
    <table class="col-12">
      <tr>
        <th>
          <a routerLInkActive="active" routerLink="add-project">Add Project</a>
        </th>
        <th>
            <a routerLInkActive="active" routerLink="add-task">Add Task</a>
        </th>
        <th>
            <a routerLInkActive="active" routerLink="add-user">Add User</a>
        </th>
        <th>
            <a routerLInkActive="active" routerLink="view-task">View Task</a>
        </th>
      </tr>
    </table>
  </form>
  <router-outlet></router-outlet>
</div>